<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TodoList</title>
    </head>
    <body>
        <div class="container" id="app">
            <h1>TodoList</h1>


            <div class="new-Todo">
                <form @submit.prevent="addTodo()">
                    <input type="text" placeholder="New ToDo" v-model="newTodo" required/>
                    <button type="submit">Add Task</button>
                </form>
            </div>

            <div class="task-list">
                <ul>
                    <li v-for="(task, i) in todos">
                        {{task.text}}
                    </li>
                </ul>
            </div>
        </div>

        

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="js/main.js"></script>  
    </body>
</html>